<?xml version="1.0"?>
<launch>

    <arg
            name="interface_args"
            doc="use '-h' or '--help' for more information"
    />

    <group ns="qtm">

        <node
                pkg="qtm_interface"
                name="qtm_interface"
                type="qtm_interface.py"
                required="true"
                respawn="false"
                output="screen"
                args="$(arg interface_args)"
        />

    </group>

</launch>